body {
  display: flex;
  justify-content: center;
}
.grid-container {
  width: 1000px;
  height: 1000px;
  margin: 0;
  padding: 0;
  display: flex;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.grid-item {
  border: 1px solid #000;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
