body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-button{
  margin-bottom: 16px;
}
.grid-container {
  width: 960px;
  height: 960px;
  margin: 0;
  padding: 0;
  display: flex;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.grid-item {
  border: 1px solid #000;
  flex-basis: 100%;
  display: flex;
}

.active {
  background-color: black;
}